In [1]:
import pandas as pd
import numpy as np

## Same procedure as described in Notebook No. 2

In [2]:
df=pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/01_original_index_data/NASDAQ_US.csv")

In [6]:
df["date"]=pd.to_datetime(df["date"])
df.head(10)

        date  NASDAQ_US_value
0 2020-04-03         9018.090
1 2020-04-02         9467.973
2 2020-03-31         7700.098
3 2020-03-30         7774.152
4 2020-03-27         7502.379
5 2020-03-26         7797.535
6 2020-03-25         7384.297
7 2020-03-24         7417.855
8 2020-03-23         6860.672
9 2020-03-20         6879.516

In [7]:
columns = ["date","NASDAQ_US_value"]
df.columns = columns
df = (df
       .loc[(df["date"]>="2019-01-01")&(df["date"]<"2020-04-08"),:]
       .sort_values("date", ascending=False)
       .reset_index()
       .drop(columns="index")
        )

In [8]:
df

          date  NASDAQ_US_value
0   2020-04-03         9018.090
1   2020-04-02         9467.973
2   2020-03-31         7700.098
3   2020-03-30         7774.152
4   2020-03-27         7502.379
..         ...              ...
296 2019-01-07         8091.164
297 2019-01-05         8049.641
298 2019-01-04         7828.910
299 2019-01-03         7595.350
300 2019-01-02         7263.870

[301 rows x 2 columns]

In [7]:
df.to_csv("NASDAQ_clean")