In [1]:
import pandas as pd
import numpy as np

In [3]:
# retrieving raw data for the IBEX 35 index into a DataFrame
df=pd.read_csv("/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/ARCHIV/IBEX_35_SP.csv")
# setting dates to datetime type
df["Date"]=pd.to_datetime(df["Date"])
# deleting unnecessary columns
df = df.drop(columns=["Open","Vol.","Change %"])
df.head()

        Date     Price      High       Low
0 2020-04-08  6,897.00  6,955.00  6,860.00
1 2020-04-07  7,002.00  7,119.10  6,903.60
2 2020-04-06  6,844.30  6,874.90  6,728.60
3 2020-04-03  6,581.60  6,632.50  6,509.40
4 2020-04-02  6,574.10  6,658.90  6,424.50

In [4]:
# Formatting items in the 'High' column to (useable) float values
df["High"]=df["High"].str.replace(",","").astype("float")

In [5]:
# Formatting items in the 'Low' column to (useable) float values
df["Low"]=df["Low"].str.replace(",","").astype("float")

In [6]:
# Formatting items in the 'Price' column to (useable) float values + renaming column to 'ibex_35_value'
df["ibex_35_value"]=df["Price"].str.replace(",","").astype("float")

In [7]:
df.head()

        Date     Price    High     Low  ibex_35_value
0 2020-04-08  6,897.00  6955.0  6860.0         6897.0
1 2020-04-07  7,002.00  7119.1  6903.6         7002.0
2 2020-04-06  6,844.30  6874.9  6728.6         6844.3
3 2020-04-03  6,581.60  6632.5  6509.4         6581.6
4 2020-04-02  6,574.10  6658.9  6424.5         6574.1

In [10]:
# 1.keeping data from January 1st 2019 only
# 2. sorting the DataFrame chronologically from 8 April 2020 to 1 January 2019
# 3. Deleting unnecessary columns
df = (df
       .loc[(df["Date"]>="2019-01-01")&(df["Date"]<"2020-04-08"),:]
       .sort_values("Date", ascending=False)
       .reset_index()
       .drop(columns="index")
        )[["Date","ibex_35_value"]]
df.head()

        Date  ibex_35_value
0 2020-04-07         7002.0
1 2020-04-06         6844.3
2 2020-04-03         6581.6
3 2020-04-02         6574.1
4 2020-04-01         6579.4

In [34]:
# Saving the clean data in the DataFrame as a csv. file
# df.to_csv("/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/IBEX_35_SP_clean.csv")