In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

In [107]:
df_convid = pd.read_pickle("covid_cases_daily.pkl")

In [19]:
# df_china = df_covid.iloc[:,0:2]

In [50]:
# df_china["country"]="China"

In [58]:
# df_sample = df_covid.loc[30:50]

In [103]:
# df_sample

In [68]:
# df_sample_1 = df_sample[["date","China"]]

In [74]:
# df_sample_1=(df_sample_1.assign(country="china")
#                         .rename(columns={"China":"covid_case"}))

In [75]:
df_sample_1

         date  covid_case country
30 2020-02-21         473   china
31 2020-02-22        1451   china
32 2020-02-23          21   china
33 2020-02-24         219   china
34 2020-02-25         513   china
35 2020-02-26         412   china
36 2020-02-27         434   china
37 2020-02-28         328   china
38 2020-02-29         428   china
39 2020-03-01         576   china
40 2020-03-02         204   china
41 2020-03-03         125   china
42 2020-03-04         125   china
43 2020-03-05         151   china
44 2020-03-06         153   china
45 2020-03-07          80   china
46 2020-03-08          53   china
47 2020-03-09          37   china
48 2020-03-10          27   china
49 2020-03-11          34   china
50 2020-03-12          11   china

In [108]:
def new_table_format (df, country_list):
    new_table = pd.DataFrame(columns = ["date","covid_case","country"])
    for country in country_list:
        table = {"date": df["date"],
                     "covid_case":df[country],
                     "country":country}
        table = pd.DataFrame(table)
        new_table = pd.concat([new_table, table], ignore_index=True, sort =False)
    return new_table

In [109]:
new_table_format(df_covid, country_list=['China', 'France', 'Germany', 'Italy', 'Japan', 'Spain', 'US'])

          date covid_case country
0   2020-01-22        548   China
1   2020-01-23         95   China
2   2020-01-24        277   China
3   2020-01-25        486   China
4   2020-01-26        669   China
..         ...        ...     ...
534 2020-04-03      31970      US
535 2020-04-04      33264      US
536 2020-04-05      28222      US
537 2020-04-06      29595      US
538 2020-04-07      29556      US

[539 rows x 3 columns]