In [1]:
import pandas as pd
import numpy as np

In [95]:
df=pd.read_csv("FTSE_MIB_IT.csv")
df["Date"]=pd.to_datetime(df["Date"])
df.drop(columns=["Open","Vol.","Change %"])
df.head(5)

        Date      Price       Open       High        Low     Vol. Change %
0 2020-04-08  17,356.00  17,178.50  17,388.00  17,166.50        -   -0.32%
1 2020-04-07  17,411.72  17,587.81  17,887.12  17,177.73  679.85M    2.19%
2 2020-04-06  17,039.31  16,769.13  17,053.91  16,764.81  528.13M    4.00%
3 2020-04-03  16,384.35  16,742.07  16,791.08  16,384.35  547.57M   -2.67%
4 2020-04-02  16,834.03  16,660.09  16,878.30  16,413.72  580.52M    1.75%

In [96]:
df["High"]=df["High"].str.replace(",","").astype("float")

In [97]:
df["Low"]=df["Low"].str.replace(",","").astype("float")

In [102]:
df["FTSE_MIB_IT_value"]=df["Price"].str.replace(",","").astype("float")

In [101]:
df.dtypes

Date                 datetime64[ns]
Price                        object
Open                         object
High                        float64
Low                         float64
Vol.                         object
Change %                     object
FTSE_MIB_IT_value           float64
dtype: object

In [105]:
df = (df
       .loc[(df["Date"]>="2019-01-01")&(df["Date"]<"2020-04-08"),:]
       .sort_values("Date", ascending=False)
       .reset_index()
       .drop(columns="index")
        )[["Date","FTSE_MIB_IT_value"]]

          Date  FTSE_MIB_IT_value
0   2020-04-07           17411.72
1   2020-04-06           17039.31
2   2020-04-03           16384.35
3   2020-04-02           16834.03
4   2020-04-01           16544.97
..         ...                ...
316 2019-01-08           19000.14
317 2019-01-07           18953.27
318 2019-01-04           18831.79
319 2019-01-03           18218.40
320 2019-01-02           18330.99

[321 rows x 2 columns]

In [10]:
df.sort

ValueError: Length mismatch: Expected axis has 7 elements, new values have 2 elements

In [34]:
df.to_csv("NASDAQ_clean")