In [1]:
import pandas as pd
import numpy as np

## Basic cleaning
- convert date to datetime type
- droped irrelevant rows (Open, Vol., change %)

In [3]:
df=pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/01_original_index_data/FTSE_MIB_IT.csv")
df["Date"]=pd.to_datetime(df["Date"])
df.drop(columns=["Open","Vol.","Change %"])
df.head(5)

        Date      Price       Open       High        Low     Vol. Change %
0 2020-04-08  17,356.00  17,178.50  17,388.00  17,166.50        -   -0.32%
1 2020-04-07  17,411.72  17,587.81  17,887.12  17,177.73  679.85M    2.19%
2 2020-04-06  17,039.31  16,769.13  17,053.91  16,764.81  528.13M    4.00%
3 2020-04-03  16,384.35  16,742.07  16,791.08  16,384.35  547.57M   -2.67%
4 2020-04-02  16,834.03  16,660.09  16,878.30  16,413.72  580.52M    1.75%

## Calculation 
- Both high and low values are strings 
- replace the , and convert them into float for the calculation
- calculate the value as the average between the daily high and daily low. 
- Sort the value by date and save it to csv

In [9]:
df["High"]=df["High"].str.replace(",","").astype("float")

In [8]:
df["Low"]=df["Low"].str.replace(",","").astype("float")

In [7]:
df["FTSE_MIB_IT_value"]=df["Price"].str.replace(",","").astype("float")

In [6]:
df.dtypes

Date        datetime64[ns]
Price               object
Open                object
High                object
Low                 object
Vol.                object
Change %            object
dtype: object

In [14]:
df = (df
       .loc[(df["Date"]>="2019-01-01")&(df["Date"]<"2020-04-08"),:]
       .sort_values("Date", ascending=False)
       .reset_index()
       .drop(columns="index")
        )[["Date","FTSE_MIB_IT_value"]]

df.head(10)

        Date  FTSE_MIB_IT_value
0 2020-04-07           17411.72
1 2020-04-06           17039.31
2 2020-04-03           16384.35
3 2020-04-02           16834.03
4 2020-04-01           16544.97
5 2020-03-31           17050.94
6 2020-03-30           16872.41
7 2020-03-27           16822.59
8 2020-03-26           17369.38
9 2020-03-25           17243.68

In [34]:
df.to_csv("NASDAQ_clean")