In [2]:
import pandas as pd
import numpy as np
import datetime

# Combining all clened CSV files into one Dataframe

None of the time serie data does include all the dates. There are always some gaps due to weekends or missing data. Therefore, I created a new dataframe with complete serie of dates starting from 01.01.2020 - 08.04.2020.

In [3]:
def date_range(start, end):
    r = (end+datetime.timedelta(days=1)-start).days
    return [start+datetime.timedelta(days=i) for i in range(r)]

start = datetime.date(2019,1,1)
end = datetime.date(2020,4,8)
dateList = date_range(start, end)

dateList
dateList_new = ", ".join([str(date) for date in dateList])
date = []
date = list(dateList_new.split())

df_date = pd.DataFrame({'col':date})
df_date

             col
0    2019-01-01,
1    2019-01-02,
2    2019-01-03,
3    2019-01-04,
4    2019-01-05,
..           ...
459  2020-04-04,
460  2020-04-05,
461  2020-04-06,
462  2020-04-07,
463   2020-04-08

[464 rows x 1 columns]

In [4]:
# creating a table with all dates for the given range to time, such that we can do a left
df_date["date"]=df_date["col"].str.replace(",","")
df_date["date"]= pd.to_datetime(df_date["col"])
df_date

             col       date
0    2019-01-01, 2019-01-01
1    2019-01-02, 2019-01-02
2    2019-01-03, 2019-01-03
3    2019-01-04, 2019-01-04
4    2019-01-05, 2019-01-05
..           ...        ...
459  2020-04-04, 2020-04-04
460  2020-04-05, 2020-04-05
461  2020-04-06, 2020-04-06
462  2020-04-07, 2020-04-07
463   2020-04-08 2020-04-08

[464 rows x 2 columns]

## Function to left-join 2 dataframes based on the dates

Left join is important due the missing values in some of the data series.

In [5]:
def combine_df (df1, df2):
    df2["date"]=pd.to_datetime(df2["date"])
    df_new = df1.merge(right = df2,
                      how = "left",
                      on = "date")
    return df_new

Reading all the clean CSV files.

In [7]:
#CAC_40
df_CAC = pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/02_cleaned_index_data/CAC_40_FR_clean.csv")

#DAX_30
df_DAX = pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/02_cleaned_index_data/DAX_30_DE_clean.csv")

#DOW_JONES
df_DJ = pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/02_cleaned_index_data/DOW_JONES_US_clean").drop(columns="Unnamed: 0")

#FTSE_MIB
df_FTSE = pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/02_cleaned_index_data/FTSE_MIB_IT_clean")
columns = ["date","FTSE_IT_value"]
df_FTSE.columns = columns

#IBEX
df_IBEX = pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/02_cleaned_index_data/IBEX_35_SP_clean.csv").drop(columns="Unnamed: 0")
columns = ["date","IBEX_value"]
df_IBEX.columns = columns

# NASDAQ_clean
df_NASDAQ = pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/02_cleaned_index_data/NASDAQ_clean").drop(columns="Unnamed: 0")

#NIKKEI
df_NIKKEI = pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/02_cleaned_index_data/NIKKEI_225_JP_clean.csv")

#SP_500
df_SP = pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/02_cleaned_index_data/S&P_500_US_clean.csv")

#SSE
df_SSE = pd.read_csv("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/archiv/02_cleaned_index_data/SSE_CN_clean.csv").drop(columns="Unnamed: 0")
columns=["date","SSE_value"]
df_SSE.columns = columns

## The combination of loop and function combined all cleaned CSV files into 1 dataframe

I tested the function combine_df on 2 of the dataframes first and it worked out. 

So I moved on the created a loop to do the work. 

Note: In the beginning, the loop constantly showed a 'key error', I went thru the process manually to debug. And I found that in the SSE file, the column "date" was written as "Date". Therefore, the loop didn't work.

In [8]:
list_of_index = [df_CAC, df_DAX, df_DJ, df_FTSE, df_IBEX, df_NASDAQ, df_NIKKEI, df_SP,df_SSE]
df_new = df_date
for index in list_of_index:
    df_new = combine_df(df_new, index)
    
df_final = df_new.copy()
df_final = df_final.drop("col",1)
df_final

,date,cac_40_fr_index,dax_30_de_index,DOW_JONES_value,FTSE_IT_value,IBEX_value,NASDAQ_US_value,value_NIKKEI_25_JP,value_SP_500_US,SSE_value
0,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-02,4689.39,10580.19,23346.24,18330.99,8550.0,7263.870,NaN,2510.03,NaN
2,2019-01-03,4611.49,10416.66,22686.22,18218.40,8523.3,7595.350,NaN,2447.89,NaN
3,2019-01-04,4737.12,10767.69,23433.16,18831.79,8737.8,7828.910,19561.96,2531.94,NaN
4,2019-01-05,NaN,NaN,NaN,NaN,NaN,8049.641,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
459,2020-04-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,2020-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,2020-04-06,4346.14,10075.17,22679.99,17039.31,6844.3,NaN,18576.30,2663.68,NaN
462,2020-04-07,4438.27,10356.70,22653.86,17411.72,7002.0,NaN,18950.18,2659.41,NaN
463,2020-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2815.368652

During the process of debugging, we have also created another loop to test.

In [ ]:
#def combine_df_test (df1, df2):
#    df_new = df1
#    for index in df2:
#        index["date"]=pd.to_datetime(index["date"])
#        df_new = df_new.merge(right = index,
#                          how = "left",
#                          on = "date")
#    return df_new
#
#list_of_index = [df_CAC, df_DAX, df_DJ, df_FTSE, df_IBEX, df_NASDAQ, df_NIKKEI, df_SP,df_SSE]
#combine_df_test(df_date, list_of_index)

In [9]:
df_final.to_pickle("combined_financial_data")