In [1]:
import pandas as pd
import numpy as np

In [4]:
# retrieving raw data for the CAC 40 index into a DataFrame
df_cac_40 = pd.read_csv("/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/ARCHIV/CAC_40_FR.csv")
df_cac_40.head()

         date   value
0  1990-03-01  1832.0
1  1990-03-02  1860.0
2  1990-03-05  1874.0
3  1990-03-06  1872.0
4  1990-03-07  1880.0

In [5]:
# renaming the columns of the DataFrame
df_cac_40.columns = ['date', 'cac_40_fr_index']
df_cac_40.dtypes

date                object
cac_40_fr_index    float64
dtype: object

In [6]:
# changing the type from objet to datetime for the values in the date column
df_cac_40['date'] = pd.to_datetime(df_cac_40['date'])
df_cac_40.dtypes

date               datetime64[ns]
cac_40_fr_index           float64
dtype: object

In [11]:
# keeping data from January 1st 2019 only and sorting the DataFrame chronologically from latest to earliest
df_cac_40 = (df_cac_40[df_cac_40['date'] >= '2019-01-01']
             .sort_values('date', ascending=False))
df_cac_40.head()

   level_0  index       date  cac_40_fr_index
0      315   7622 2020-04-07          4438.27
1      314   7621 2020-04-06          4346.14
2      313   7620 2020-04-03          4154.58
3      312   7619 2020-04-02          4220.96
4      311   7618 2020-04-01          4207.24

In [13]:
# Deleting unncessary columns, i.e. 'level_0' and 'index'
df_cac_40 = (df_cac_40
             .drop(columns=['level_0', 'index']))
df_cac_40.head()

        date  cac_40_fr_index
0 2020-04-07          4438.27
1 2020-04-06          4346.14
2 2020-04-03          4154.58
3 2020-04-02          4220.96
4 2020-04-01          4207.24

In [17]:
# Saving the clean data in the DataFrame as a csv. file
# df_cac_40.to_csv("/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/CAC_40_FR_clean.csv", index=False)