In [1]:
import pandas as pd
import numpy as np

In [2]:
# retrieving raw data for the IBEX 35 index into a DataFrame
df_sse = pd.read_csv('/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/ARCHIV/SSE_CN.csv')

In [3]:
df_sse.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-08,3271.271973,3288.452881,3210.514893,3244.810059,3244.810059,504500.0
1,2019-04-09,3240.394043,3251.645996,3215.705078,3239.664063,3239.664063,364200.0
2,2019-04-10,3224.645020,3264.778076,3204.878906,3241.929932,3241.929932,380100.0
3,2019-04-11,3241.547119,3254.125977,3185.545898,3189.961914,3189.961914,353000.0
4,2019-04-12,3184.860107,3199.278076,3168.041992,3188.625977,3188.625977,289800.0

In [4]:
# Deleting unncessary columns
df_sse = df_sse[['Date', 'Adj Close']]

In [5]:
# Renaming column 'Adj Close' to 'SSE Index'
df_sse = df_sse.rename(columns={'Adj Close': 'SSE Index'})

In [6]:
# Formatting values in the 'Date' column to datetime
df_sse['Date'] = pd.to_datetime(df_sse['Date'])

In [7]:
# sorting the DataFrame chronologically from the latest to the earliest data
df_sse = df_sse.sort_values("Date", ascending=False)

In [12]:
df_sse.head()

        Date    SSE Index
0 2020-04-08  2815.368652
1 2020-04-07          NaN
2 2020-04-03  2763.987061
3 2020-04-02  2780.637939
4 2020-04-01  2734.521973

In [9]:
# Saving the clean data in the DataFrame as a csv. file
# df_sse.to_csv('/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/ARCHIV/SSE_CNclean.csv')